@import url(http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);


.title, h1 { 
    font-family: 'OFL Sorts Mill Goudy TT', serif;
    }

.title { 
    font-size: 63pt;
    }
    
p, div {
    line-height: 1.5em;
    font-family: 'Droid Serif', sans, serif;
    padding-bottom: 1em;
}

#werp {
    text-align: left;
    font-size: 12pt;
    color: #333;
}

#dialog {
    padding-left: 1em;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    text-align: center;
    color: #000;
    background-color: #FFF;
}

a:link, a:visited {
    color: #BBB;
    text-decoration: none;
}

a:active, a:hover {
    color: #000;
    text-decoration: underline;
}


.quote {
    font-family: 'Droid Serif', sans, serif;
    font-size: 18pt;
    font-style: italic;
}


.wrapper {
    width: 586px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -74px;
}


.footer, .push {
    height: 74px;
}

.footer {
    font-family: 'Droid Serif', sans, serif;
    font-size: 12pt;
    color: #BBB;
}
